{% extends 'website/base.html' %}
{% load static %}
{% block main %}
    <div class="row row-space">
       <div class="col-6">
           testo simples testo simples testo simples testo simples 
           testo simples testo simples testo simples testo simples 
       </div>
       <div class="col-6">
           testo simples testo simples testo simples testo simples 
           testo simples testo simples testo simples testo simples 
       </div>
   </div>

   <div class="row row-space">
        <div class="col-4">
            testo simples testo simples testo simples testo simples 
            testo simples testo simples testo simples testo simples 
        </div>
        <div class="col-4">
            <img src="{% static 'img/conjunto.jpg'%}" alt="Estacionamento 24 horas">
        </div>
        <div class="col-4">
            testo simples testo simples testo simples testo simples 
            testo simples testo simples testo simples testo simples 
        </div>

        <div class="row row-space">
            <div class="col-6">
                testo simples testo simples testo simples testo simples 
                testo simples testo simples testo simples testo simples 
            </div>
            <div class="col-6">
                testo simples testo simples testo simples testo simples 
                testo simples testo simples testo simples testo simples 
            </div>
        </div>
    </div>
    <br>
    
{% endblock %}