{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<div class="row">
    <div class="col-12">
        <h2>Alteração Mensalista: {{mensalista}}</h2>
    </div>
</div>        
<div class="row">
    <div class="col">
        <form action="{% url 'core_mensalista_update' mensalista.id %}" method="POST">
            {% csrf_token%}
            {{form|bootstrap}}
            <br>
            <button type="submit"  class="btn btn-primary">Salvar</button>
            <a href="{% url 'core_mensalista_delete' mensalista.id %}" class="btn btn-danger">Deletar</a>

        </form>
    </div>
</div>

{%endblock%}
    